/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



:root {
  --color1: #3f3f3f;
  --color2: #4c4c4c;
  --color3: #6a6a6a;
  --font: 'Montserrat', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

.main-c{
  background-color: var(--color1);
  height: 100vh;
}

.navbar{
  background-color: var(--color2);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efc5b5;
  font-family: var(--font);
  letter-spacing: 2px;
}

.search-box{
  background-color: var(--color2);
  width: 80%;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 150px;
  border-radius: 5px;
  padding: 10px 10px;
}
.search-box input{
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: white;
  outline: none;
  width: 100%;
}
.search-box input::placeholder{
  color: rgb(204, 204, 204);
}

.btn-c{
  margin: 0 auto;
  width: fit-content;
  margin-top: 10px;
}
.download-btn{
  padding: 10px;
  background-color: var(--color3);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.download-btn:hover{
  color: #efc5b5;
}

@media (min-width:320px) {
  .download-btn:hover{
    color: white;
  }
}